@media (prefers-color-scheme: dark) {
	.line {
		filter: invert(1);
	}
}

body {
	display: grid;
	grid-template-columns: auto 1fr;
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.close-button {
	background: none;
	border-radius: 2px;
	border: 1px solid var(--foreground);
	color: var(--foreground);
}

.secondary-close {
	margin-left: auto;
}

.dialog {
	background: var(--background);
	border-radius: calc(2 * var(--border-width));
	border: var(--border-width) solid var(--foreground);
	color: var(--foreground);
	min-width: min(50rem, 60vw);
}

.line {
	height: var(--spacing);
	pointer-events: none;
	user-select: none;
	width: var(--node-width);
}

.line-fork {
	height: auto;
	width: calc(var(--node-width) + var(--spacing) + 6px);
}

.line-row {
	display: flex;
}

.line-row-spacer {
	display: inline-block;
	width: var(--spacing);
}

.node {
	align-items: center;
	background: var(--background);
	border-radius: calc(2 * var(--border-width));
	border: var(--border-width) solid var(--foreground);
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 6rem;
	padding: 0.5rem;
	text-align: center;
	width: var(--node-width);
}

.node.completed {
	opacity: 0.5;
}

.node.fake-node {
	opacity: 0;
}

.row {
	display: flex;
	flex-direction: row;
	gap: var(--spacing);
}

#sidebar {
	background-color: var(--background-secondary);
	min-width: min(8rem, 15vw);
	padding: 1rem;
	padding-left: 2rem;
	z-index: 1;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar-open,
#sidebar-close {
	display: none; /* overriden in narrow media query */
	position: absolute;
	top: 0;
	margin: 1rem;
	border: none;
	background: none;
}

#sidebar-open {
	left: 0;
}

#sidebar-close {
	right: 0;
}

@media (max-width: 35rem) {
	body {
		display: inline-block;
	}

	#sidebar {
		min-width: unset;
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		transform: translate(-100vw);
	}

	#sidebar.shown {
		transform: none;
	}

	#sidebar-open,
	#sidebar-close {
		display: block;
	}

	.dialog * {
		max-width: 100%;
	}

	.completed-container {
		align-items: center;
		display: flex;
		flex-direction: row;
	}

	.completed-container > input[type="checkbox"],
	.close-button {
		height: 2rem;
		width: 2rem;
	}

	.close-button {
		font-size: 1.5rem;
	}

	.sidebar-button {
		font-size: 2rem;
	}
}
