* {
	box-sizing: border-box;
}

:root {
	--background: #fff;
	--background-secondary: #eee;
	--border-width: 3px;
	--foreground: #222;
	--node-width: 10rem;
	--spacing: 1rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #222;
		--background-secondary: #292929;
		--foreground: #ddd;
	}

	a:link {
		color: #5e9d9f;
	}
	a:visited {
		color: #a589c1;
	}
	a:active {
		color: #8d6ab0;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: sans-serif;
	margin: 0;
	min-height: 100vh;
	width: 100vw;
}

.row-container {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	gap: var(--spacing);
}

.row-container > div {
	flex: 1;
	position: relative;
}

.row-container > div * {
	max-width: 100%;
}

.sidebar-button {
	font-size: 2rem;
}

.completed-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.completed-container > input[type="checkbox"] {
	width: 2rem;
	height: 2rem;
}
