* {
	box-sizing: border-box;
}

:root {
	--background: #fff;
	--background-secondary: #eee;
	--border-width: 3px;
	--foreground: #222;
	--node-width: 10rem;
	--spacing: 1rem;
}

.hl-c {
	color: #005cc5;
}
.hl-en {
	color: #6f42c1;
}
.hl-k {
	color: #d73a49;
	font-weight: bold;
}
.hl-s {
	color: #22863a;
}
.hl-cmt {
	color: lightcoral;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #222;
		--background-secondary: #292929;
		--foreground: #ddd;
	}

	a:link {
		color: #5e9d9f;
	}
	a:visited {
		color: #a589c1;
	}
	a:active {
		color: #8d6ab0;
	}

	.hl-c {
		color: #c8e1ff;
	}
	.hl-en {
		color: #b392f0;
	}
	.hl-k {
		color: #ea4a5a;
		font-weight: bold;
	}
	.hl-s {
		color: #7bcc72;
	}
	.hl-cmt {
		color: lightcoral;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: sans-serif;
	margin: 0;
	min-height: 100vh;
	width: 100vw;
}

.row-container {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	gap: var(--spacing);
}

.row-container > div {
	flex: 1;
	position: relative;
}

.highlight-table {
	white-space: pre;
	font-family: monospace;
}

.hl-line {
	padding-right: 1rem;
	text-align: right;
	user-select: none;
}
