{% extends "_layout.html" %}
{% block title -%}Robotics Curriculum{%- endblock %}
{% block style -%}
	<link rel="stylesheet" href="index.css" />
{%- endblock %}
{% block body -%}
<aside id="sidebar">
	<button class="sidebar-button" id="sidebar-close" onclick="sidebar.classList.remove('shown')" title="Close sidebar">&#x25c4;</button>
	<ul>
		{% for item in sidebar_items -%}
		<li><a href="{{item.slug}}.html">{{item.item.name}}</a></li>
		{%- endfor %}
	</ul>
</aside>
<button class="sidebar-button" id="sidebar-open" onclick="sidebar.classList.add('shown')" title="Open sidebar">&#x25ba;</button>
<main>
	{% for (index, item) in main_items.iter().enumerate() -%}
	<img src="img/line.svg" role="presentation" class="line" />
	<div class="row">
		<article
			class="node"
			id="node-main-{{index}}"
			onclick="document.getElementById('dialog-main-{{index}}').showModal();"
			data-set-completed="main-{{index}}"
		>
			<h1>{{item.item.name}}</h1>
		</article>
	</div>
	{%- endfor %}
	<img src="img/line-fork.svg" role="presentation" class="line line-fork" />
	{% for (index, items) in itertools::Itertools::zip_longest(programming_items.iter(), building_items.iter()).enumerate() -%} {% if index > 0 -%}
	<div class="line-row" role="presentation">
		{% if index < programming_items.len() -%}
		<img src="img/line.svg" role="presentation" class="line" />
		{% else %}
		<img src="img/line-empty.svg" role="presentation" class="line" />
		{%- endif %}
		<div class="line-row-spacer"></div>
		{% if index < building_items.len() -%}
		<img src="img/line.svg" role="presentation" class="line" />
		{% else %}
		<img src="img/line-empty.svg" role="presentation" class="line" />
		{%- endif %}
	</div>
	{%- endif %}
	<div class="row">
		{% if let Some(programming_item) = items.as_ref().left() -%}
		<article
			class="node"
			id="node-programming-{{index}}"
			onclick="document.getElementById('dialog-programming-{{index}}').showModal();"
			data-set-completed="programming-{{index}}"
		>
			<h1>{{programming_item.item.name}}</h1>
		</article>
		{%- else -%}
		<article class="node fake-node"></article>
		{%- endif %} {% if let Some(building_item) = items.as_ref().right() -%}
		<article
			class="node"
			id="node-building-{{index}}"
			onclick="document.getElementById('dialog-building-{{index}}').showModal();"
			data-set-completed="building-{{index}}"
		>
			<h1>{{building_item.item.name}}</h1>
		</article>
		{%- else -%}
		<article class="node fake-node"></article>
		{%- endif %}
	</div>
	{%- endfor %}
</main>
{% for (category_name, index, item) in self.iterate_non_sidebar_tagged() -%}
<dialog class="dialog" id="dialog-{{category_name}}-{{index}}">
	<form method="dialog">
		<input class="close-button" type="submit" value="X" label="Close" />
	</form>
	<h1>{{item.name}}</h1>
	<p>{{item.description}}</p>
	<hr />
	<div class="content">{{item.content|safe}}</div>
	<hr />
	<div class="completed-container">
		<label for="completed-checkbox-{{category_name}}-{{index}}">Completed</label>
		<input
			type="checkbox"
			id="completed-checkbox-{{category_name}}-{{index}}"
			onchange="set_completed('{{category_name}}', {{index}}, event.target.checked);"
			data-set-checked="{{category_name}}-{{index}}"
		/>
	</div>
</dialog>
{%- endfor %}
<script>
	function set_completed(category_name, index, is_completed) {
		const key = `completed-${category_name}-${index}`;
		if (is_completed) {
			localStorage.setItem(key, "yes");
		} else {
			localStorage.removeItem(key);
		}
		document.getElementById(`node-${category_name}-${index}`).classList.toggle("completed", is_completed);
	}
	for (const element of document.querySelectorAll("[data-set-completed]")) {
		element.classList.toggle("completed", localStorage.getItem("completed-" + element.dataset.setCompleted) !== null);
	}
	for (const element of document.querySelectorAll("[data-set-checked]")) {
		element.checked = localStorage.getItem("completed-" + element.dataset.setChecked) !== null;
	}
</script>
{%- endblock %}
